[defaults]
host_key_checking = false
force_color = true
interpreter_python = auto_legacy_silent
stdout_callback = yaml
private_key_file = spec_rsa
remote_user = root

[diff]
always = true

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

[hashi_vault_collection]
token_validate = false