---

# Tasks for setting the hostname.
- name: "Setting the hostname."
  ansible.builtin.hostname:
    name: "localhost.localdomain"

# Tasks to create the script
- name: Template add-packages script files to VM Template
  ansible.builtin.template:
    src: add-packages.sh.j2
    dest: /tmp/add-packages.sh
    mode: '0755'

# Tasks to copy files
- name: Copy all files to VM Template
  ansible.builtin.copy:
    src: "files/"
    dest: "/tmp/"
    mode: '0755'

# Tasks to add packages
- name: Add packages
  ansible.builtin.shell:
    cmd: |
      ./add-packages.sh
      ./force-sync.sh
  args:
    chdir: /tmp/

# Tasks for restarting the SSH daemon.
- name: "Restarting the SSH daemon."
  systemd:
    name: ssh
    state: restarted
    daemon_reload: true

# Tasks for disabling systemd-tmpfiles.
- name: "Disabling systemd-tmpfiles."
  ansible.builtin.replace:
    path: /usr/lib/tmpfiles.d/tmp.conf
    regexp: '^D'
    replace: '#D'

- name: Wait re-load service
  ansible.builtin.wait_for:
    timeout: 5
  delegate_to: localhost

# Tasks for removing the cloud-init package.
- name: "Removing the cloud-init package."
  ansible.builtin.apt:
    name: cloud-init
    state: absent

- name: "Configuring sshd_config - Allow root"
  block:
    - ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin yes'
    - ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication yes'
  when: enable_root_login | default(false)

# Tasks to clean the audit logs.
- name: "Cleaning the audit logs."
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/log/audit/audit.log
    - /var/log/auth.log
    - /var/log/btmp
    - /var/log/dpkg.log
    - /var/log/faillog
    - /var/log/kern.log
    - /var/log/lastlog
    - /var/log/syslog
    - /var/log/wtmp

# Tasks to clean the persistent udev rules.
- name: "Cleaning persistent udev rules."
  ansible.builtin.file:
    path: /etc/udev/rules.d/70-persistent-net.rules
    state: absent

# Tasks to find the /tmp directories.
- name: "Finding the /tmp directories."
  ansible.builtin.find:
    paths:
      - /tmp
      - /var/tmp
    file_type: any
  register: _find_tmp_dir

# Tasks to clean the /tmp directories.
- name: "Cleaning the /tmp directories."
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ _find_tmp_dir.files }}"
  loop_control:
    label: "{{ item.path }}"

# Tasks to clean the machine-id.
- name: "Cleaning the machine-id."
  block:
    - name: "Emptying the /etc/machine-id."
      community.general.filesize:
        path: /etc/machine-id
        size: 0
    - name: "Removing /var/lib/dbus/machine-id."
      ansible.builtin.file:
        path: /var/lib/dbus/machine-id
        state: absent
    - name: "Creating a symbolic link to /etc/machine-id."
      ansible.builtin.file:
        src: /etc/machine-id
        dest: /var/lib/dbus/machine-id
        state: link

# Tasks to clean the shell history.
- name: "Cleaning the shell history."
  block:
  - name: "Cleaning the shell history."
    ansible.builtin.file:
      path: "root/.bash_history"
      state: absent
